<div class="container">
  <div class="col-12">
    <div class="row">
      <div class="col-9 offset-3">
        <ul class="nav nav-tabs nav-justified">
          <li class="nav-item">
            <a class="nav-link <%= @type == 'user' ? 'active' : '' %>" href="<%= search_index_path query: params[:query], type: "user" %>">by User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= @type == 'post' ? 'active' : '' %>" href="<%= search_index_path query: params[:query], type: "post" %>">by Post</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <% if @type == 'user' %>
        <%= render "search/users" %>
      <% else %>
        <%= render "search/posts" %>
      <% end %>
    </div>
  </div>
</div>

