<div class="container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
            <% if current_user.id == @user.id %>
              <button class="btn btn-primary btn-update-cover"><i class="fa fa-fw fa-image"></i> Update Cover</button>
              <%= form_for(current_user, as: :user, url: user_registration_path, html: { method: :put, class: "d-none update-cover" }) do |f| %>
                <div class="field">
                  <%= f.file_field :cover, class: "input-cover" %>
                </div>
              <% end %>
            <% end %>
						<img src="<%= @user.cover.thumb.url %>" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col-lg-5 col-md-5 ">
								<ul class="profile-menu">
									<li>
										<a href="02-ProfilePage.html" class="active">Timeline</a>
									</li>
									<li>
										<a href="05-ProfilePage-About.html">About</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-5 ml-auto col-md-5">
								<ul class="profile-menu">
									<li>
										<a href="07-ProfilePage-Photos.html">Following</a>
									</li>
									<li>
										<a href="09-ProfilePage-Videos.html">Followers</a>
									</li>
									<li>
										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="/icons/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown more-with-triangle">
												<li>
													<a href="#">Report Profile</a>
												</li>
												<li>
													<a href="#">Block Profile</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="top-header-author">
						<a href="#" class="author-thumb" title="Click to change avatar">
							<img src="<%= @user.avatar.thumb.url %>" alt="author" class="avatar-update">
              <% if current_user.id == @user.id %>
                <%= form_for(current_user, as: :user, url: user_registration_path, html: { method: :put, class: "d-none update-avatar" }) do |f| %>
                  <div class="field">
                    <%= f.file_field :avatar, class: "input-avatar" %>
                  </div>
                <% end %>
              <% end %>
						</a>
						<div class="author-content">
							<a href="<%= user_path @user %>" class="h4 author-name"><%= @user.name %></a>
							<div class="country"><%= @user.email %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
