<div class="container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
            <% if current_user.id == @user.id %>
              <button class="btn btn-primary btn-update-cover"><i class="fa fa-fw fa-image"></i>カバー写真の変更</button>
              <%= form_for(current_user, as: :user, url: user_registration_path, html: { method: :put, class: "d-none update-cover" }) do |f| %>
                <div class="field">
                  <%= f.file_field :cover, class: "input-cover" %>
                </div>
              <% end %>
            <% end %>
						<img src="<%= @user.cover.thumb.url %>" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col-lg-5 col-md-5 ">
								<ul class="profile-menu">
									<li>
										<a href="02-ProfilePage.html" class="active">タイムライン</a>
									</li>
									<li>
										<a href="05-ProfilePage-About.html">詳細</a>
									</li>
								</ul>
							</div>
							<div class="col-lg-5 ml-auto col-md-5">
								<ul class="profile-menu">
									<li>
										<a href="<%= user_followings_path @user %>">フォロー中</a>
									</li>
									<li>
										<a href="<%= user_followers_path @user %>">フォロワー</a>
									</li>
									<li>
                    <% unless current_user.id == @user.id %>
                      <% unless current_user.following? @user %>
                        <button class="btn btn-outline-primary btn-sm liked btn-follow" style="margin-bottom: 0"><i class="fa fa-fw fa-check"></i> Follow this user now!</button>
                        <form action="<%= user_follows_path @user %>" method="POST" class="d-none follow-form">
                          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                        </form>
                      <% else %>
                        <button class="btn btn-outline-success btn-sm text-muted btn-follow" style="margin-bottom: 0"> <i class="fa fa-fw fa-close"></i>Following!</button>
                        <form action="<%= user_follow_path @user, current_user.follow(@user) %>" method="POST" class="d-none follow-form">
                          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                          <input name="_method" type="hidden" value="delete">
                        </form>
                      <% end %>
                    <% end %>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="top-header-author">
						<a href="#" class="author-thumb" title="Click to change avatar">
							<img src="<%= @user.avatar.thumb.url %>" alt="author" class="avatar-update">
              <% if current_user.id == @user.id %>
                <%= form_for(current_user, as: :user, url: user_registration_path, html: { method: :put, class: "d-none update-avatar" }) do |f| %>
                  <div class="field">
                    <%= f.file_field :avatar, class: "input-avatar" %>
                  </div>
                <% end %>
              <% end %>
						</a>
						<div class="author-content">
							<a href="<%= user_path @user %>" class="h4 author-name"><%= @user.name %></a>
							<div class="country"><%= @user.email %></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
