<div class="ui-block">
  <article class="hentry post">

    <div class="post__author author vcard inline-items">
      <a href="<%= user_path post.user %>"><img src="<%= post.user.avatar.thumb36.url %>" alt="author"></a>


      <div class="author-date">
        <a class="h6 post__author-name fn" href="<%= user_path post.user %>"><%= post.user.name %>
        </a>
        <div class="post__date">
          <time class="published" datetime="2004-07-24T18:18">
            <%= time_ago_in_words post.created_at %>
          </time>
          <% if post.restaurant.present?  %>
            in
            <%= post.restaurant %> <br>
          <% end %>
          <% if post.address.present?  %>
            <i class="fa fa-fw fa-map-marker"></i> <%= post.address %> <br>
          <% end %>
        </div>
      </div>
      <% if current_user.id == post.user.id %>
        <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/icons/icons.svg#olymp-three-dots-icon"></use></svg>
        <ul class="more-dropdown">
          <li>
            <a href="#">投稿の編集</a>
          </li>
          <li>
            <a href="#">投稿の削除</a>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
    <p>
      <%= post.content %>
    </p>
    <div class="post-thumb">
      <a href="<%= post_path post %>">
        <% if post.images.first %>
          <% if post.images.count > 1 %>
            <div class="more-images">+ <%= post.images.count %></div>
          <% end %>
          <img src="<%= post.images.first.file.post.url %>" alt="photo">
        <% end %>
      </a>
    </div>
    <div class="post-additional-info inline-items">

      <a href="<%= post_path post %>" class="post-add-icon inline-items">
        <svg class="olymp-heart-icon <%= "image-active" if current_user.like?(post) %>"><use xlink:href="/icons/icons.svg#olymp-heart-icon"></use></svg>
        <span class="<%= "liked" if current_user.like?(post) %>"><%= post.likes.count %></span>
      </a>

      <ul class="friends-harmonic">
        <% post.likes.order(id: :desc).limit(5).each do |like| %>
          <li>
            <a href="<%= user_path like.user %>">
              <img src="<%= like.user.avatar.thumb36.url %>" alt="friend">
            </a>
          </li>
        <% end %>
      </ul>

      <div class="names-people-likes">

        <% if current_user.like? post %>
          <a href="<%= post_path post %>">あなた</a>と
        <% else %>
          <a href="<%= post_path post %>">いいねする？</a>
        <% end %>
        <br><%= post.likes.count > 1 ? post.likes.count - 1 : 0 %>人がいいねしています
      </div>


      <div class="comments-shared">
        <a href="<%= post_path post %>" class="post-add-icon inline-items">
          <svg class="olymp-speech-balloon-icon"><use xlink:href="/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
          <span><%= post.comments.count %></span>
        </a>
      </div>


    </div>

  </article>

  <a href="<%= post_path post %>" class="more-comments">投稿を見る <span class="fa fa-fw fa-eye"></span></a>

</div>
