<div class="" id="open-photo-popup-v2" style="display: block">
  <div class="modal-dialog ui-block window-popup open-photo-popup open-photo-popup-v2">
    <div class="open-photo-thumb">

      <div class="swiper-container" data-effect="fade" data-autoplay="4000">

        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% @post.images.each do |image| %>
            <div class="swiper-slide">
              <div class="photo-item" data-swiper-parallax="-300" data-swiper-parallax-duration="500">
                <img src="<%= image.file.post.url %>" alt="photo">
                <div class="overlay"></div>
                <div class="content">
                  <a href="#" class="h6 title">Author: <%= @post.user.name %></a>
                  <time class="published" datetime="2017-03-24T18:18"><%= time_ago_in_words image.created_at %></time>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>

      <!--Pagination tabs-->

      <div class="slider-slides">
        <% @post.images.each do |image| %>
          <a href="#" class="slides-item ">
            <img src="<%= image.file.thumb100.url %>" alt="slide">
            <div class="overlay overlay-dark"></div>
          </a>
        <% end %>
        <!--Prev Next Arrows-->

        <svg class="btn-next olymp-popup-right-arrow image-active"><use xlink:href="/icons/icons.svg#olymp-popup-right-arrow"></use></svg>

        <svg class="btn-prev olymp-popup-left-arrow image-active"><use xlink:href="/icons/icons.svg#olymp-popup-left-arrow"></use></svg>

      </div>

    </div>

    <div class="open-photo-content">

      <article class="hentry post">

        <div class="post__author author vcard inline-items">
          <img src="<%= @post.user.avatar.thumb36.url %>" alt="author">

          <div class="author-date">
            <a class="h6 post__author-name fn" href="<%= user_path @post.user %>"><%= @post.user.name %></a>
            <div class="post__date">
              <time class="published" datetime="2017-03-24T18:18">
                <%= time_ago_in_words @post.created_at %>
              </time>
            </div>
          </div>

          <% if @post.user.id == current_user.id %>
            <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="/icons/icons.svg#olymp-three-dots-icon"></use></svg>
              <ul class="more-dropdown">
                <li>
                  <a href="#">投稿の編集</a>
                </li>
                <li>
                  <a href="#">投稿の削除</a>
                </li>
              </ul>
            </div>
          <% end %>

        </div>

        <p><%= @post.content %>
          <br>
          <% @post.foods.each do |food| %>
            <a href="#">#<%= food.name %></a>
          <% end %>
        </p>

        <p>
          <% if @post.restaurant.present?  %>
            Restaurant:
            <%= @post.restaurant %> <br>
          <% end %>
          <% if @post.address.present?  %>
            In: <%= @post.address %> <br>
          <% end %>
        </p>

        <div class="post-additional-info inline-items">

          <a href="#" class="post-add-icon inline-items <%= "image-active" if current_user.like?(@post) %> btn-like">
            <svg class="olymp-heart-icon"><use xlink:href="/icons/icons.svg#olymp-heart-icon"></use></svg>
            <span class="<%= "liked" if current_user.like?(@post) %>"><%= @post.likes.count %></span>
            
            <% unless current_user.like? @post %>
              <form action="<%= post_likes_path @post %>" method="POST" class="like-form d-none">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              </form>
            <% else %>
              <form action="<%= post_like_path @post, @post.like(current_user) %>" method="POST" class="like-form d-none">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                <input name="_method" type="hidden" value="delete">
              </form>
            <% end %>
          </a>


          <div class="comments-shared">
            <a href="#" class="post-add-icon inline-items">
              <svg class="olymp-speech-balloon-icon"><use xlink:href="/icons/icons.svg#olymp-speech-balloon-icon"></use></svg>
              <span><%= @post.comments.count %></span>
            </a>
          </div>


        </div>

      </article>

      <div class="mCustomScrollbar" data-mcs-theme="dark">
        <%= paginate @comments, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
        <ul class="comments-list">
          <% @comments.each do |comment| %>
            <li>
              <div class="post__author author vcard inline-items">
                <a href="<%= user_path comment.user %>">
                  <img src="<%= comment.user.avatar.thumb36.url %>" alt="author">
                </a>
                <div class="author-date">
                  <a class="h6 post__author-name fn" href="<%= user_path comment.user %>"><%= comment.user.name %></a>
                  <div class="post__date">
                    <time class="published" datetime="2017-03-24T18:18">
                      <%= time_ago_in_words comment.created_at %>
                    </time>
                  </div>
                </div>

                <a href="#" class="more">
                  <% if comment.user.id == current_user.id %>
                    <%= link_to post_comment_path(@post, comment),method: :delete, data: {confirm: "本当に削除したい？"}, class: "pull-right" do %>
                      <i class="fa fa-fw fa-trash"></i>
                    <% end %>
                <% end %>
                </a>

              </div>

              <p><%= comment.content %></p>
            </li>
          <% end %>
        </ul>
      </div>

      <form class="comment-form inline-items form-new-comment" action="<%= post_comments_path(@post) %>" method="POST" >

        <div class="post__author author vcard inline-items">
          <img src="<%= current_user.avatar.thumb36.url %>" alt="author">

          <div class="form-group with-icon-right ">

              <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
              <textarea class="form-control new-comment" placeholder="Enterでコメントを投稿" name="comment[content]"></textarea>

          </div>
        </div>

      </form>

    </div>

  </div>
</div>
